.reveal {
  width: 100%;
  height: 100%;
}

.slides {
  width: 100%;
  height: 100%;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.reveal-demo {
  height: 50vh;
  max-height: 900px;
  position: relative;
}

.controls {
  top: 45vh !important;
  size: 40px;
}