@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Colors */
:root {
  --color-primary: #31efb8;
  --color-primary-dark: #00c38b;
  
  --color-grayscale-60: #1f1f1f;
  --color-grayscale-50: #303236;
  --color-grayscale-30: #7b7d85;
  --color-grayscale-20: #b1b2b5;
  --color-grayscale-10: #e3e3e3;
  --color-gray-canvas: #f6f6f6f;
  
  --color-black: #121212;
  --color-white: #faf9f6;

  --color-secondary-danger: #e65244;
  --color-secondary-success: #49d793;
  --color-secondary-warning: #fc8802;
  --color-secondary-complete: #a599c6;
  --color-secondary-info: #59b9e2;

  --color-palette-green-light: #00fa9a;
  --color-palette-green-dark: #02bf54;
  --color-palette-red: #b22222;
  --color-palette-orange: #ff8c00;
  --color-palette-yellow: #ffd700;
  --color-palette-purple-dark: #ba55d3;
  --color-palette-purple-light: #dda0dd;
  --color-palette-blue-dark: #008ab8;
  --color-palette-blue-light: #00bfff;
  --color-palette-pink-dark: #ff1493;
  --color-palette-pink-light: #ffafda;

  --color-shadow: rgba(0, 0, 0, 0.2);
  --drop-shadow-default: 10px 10px 4px 0px var(--color-shadow);
  --inset-shadow-default: 10px 10px 4px 0px var(--color-shadow) inset;
  --btn-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  
  --border-default: 2px solid var(--color-black);
  --border-radius-default: 10px;
}